[Unit]
Description=Flask app service
After=Network.target

[Service]
WorkingDirectory=/home/diaganin/HW25
Environment=FLASK_APP=app.py
ExecStart=/home/diaganin/HW25/venv/bin/python -m flask run -h 0.0.0.0 -p 25000

[Install]
WantedBy=multi-user.target
